.chat-container {
    background-color: white;
    max-width: 900px;
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 25px #90B4B8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.message-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.placeholder-text {
    color: #bababa;
    margin: auto;
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.message.user {
    background-color: #FAF9EE;
    align-self: flex-end;
    text-align: right;
}

.message.assistant {
    background-color: #90B4B8;
    align-self: flex-start;
    text-align: left;
}

.exclude-button:hover {
    background-color: #90B4B8;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center; 
    padding: 10px;
}

.container button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-grow: 1; 
    background-color: white;
}

.input-container input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 10px;
}

.logout-button {
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px
}

.show-invites {
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px
}

.clear-chat-button{
    background-color: #a83246;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px
}
.helpline-button-container {
    position: relative;
}
.helpline-button {
    background-color: #6ec694;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.helpline-button:hover {
    background-color: #5aaf7d;
}
.helpline-details {
    background-color: #d9ffe4;
    color: #333333;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 350px;
}
