.register-container {
    background-color: #FAF9EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: bold;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.register-input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}

.register-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #367A8C;
}

.login-link {
    margin-top: 15px;
    font-size: small;
}

.login-link a {
    color: #367A8C;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    padding-bottom: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0 5px;
    border-radius: 5px;
}

.tab.active {
    background-color: #367A8C;
    color: white;
    border-color: #367A8C;
    border-radius: 5px;
}
