* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF9EE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-weight: bold;
  background-color: #90B4B8;
  color: black;
  transition: all 0.3s ease-in-out;
  border: none;
  box-shadow: 0px 0px 5px #90B4B8;
}

button:hover {
  background-color: #367A8C;
  transform: scale(1.02);
}

select {
  appearance: none;
  -webkit-appearance: none;
}

select:invalid {
  color: grey;
}

input:focus, select:focus {
  outline: none;     
}

input, select {
  border: 2px solid #90B4B8;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #90B4B8;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.main-container {
  animation: fadeIn 0.5s ease-out; /* Apply fade-in animation */
}